{% extends 'base.html' %}

{% block title %}About Me{% endblock %}

{% block content %}
<h1>Jerome Kapkor</h1>
<p>Hello! I’m a passionate Software developer focused on building clean, functional, and user-friendly applications.</p>
<p>I have experience with Python, Java, SpringBoot, Flask, and web technologies, and I’m currently working on growing my portfolio to attract remote or freelance opportunities.</p>
<p>My mission is to deliver efficient and scalable IT solutions to businesses and individuals alike.</p>
{% endblock %}
