{% extends "base.html" %}
{% block title %}Contact Me{% endblock %}
{% block content %}
<section class="contact-section">
  <h2 class="section-title">Get in Touch</h2>
<p>
    I'm always ready to <strong>collaborate</strong>  on impactful projects, open to <strong>freelance opportunities</strong>, and available to be <strong>hired for remote or full-time roles</strong>. 
    If you have a project in mind or just want to say hello, feel free to connect!
  </p>
  <div class="social-icons text-center mt-4">
  <a href="https://github.com/jerome002" target="_blank" class="social-icon">
    <i class="fab fa-github"></i>
  </a>
    <a href="mailto: jkapkor@gmail.com" target="_blank" class="social-icon">
    <i class="fa-solid fa-envelope"></i>
  </a>

    </a>
    <a href="https://www.linkedin.com/in/jerome-kapkor-2b0b1a1b3/" target="_blank" class="social-icon">
    <i class="fab fa-linkedin"></i>
    </a>
    <a href="https://twitter.com/jerome002" target="_blank" class="social-icon">
    <i class="fab fa-twitter"></i>
    </a>
    </div>

</section>
{% endblock %}




