{% extends 'base.html' %}

{% block title %}Home - My Portfolio{% endblock %}

{% block content %}
<!-- Hero Section -->
<section class="text-center py-5 bg-dark text-white">

    <div class="container">
        <h1 class="display-4">Hi, I'm Jerome Kapkor</h1>
        <p class="lead">A passionate Software Developer focused on building clean, functional, and user-friendly applications.</p>
        
    </div>
</section>
<section class="text-center py-5">
        <div class="text-center">
        <a href="/about" class="btn btn-light btn-lg mt-3">Learn More About Me</a>
        <a href="/projects" class="btn btn-light btn-lg mt-3">View My Projects</a>
    </div>
    </section>
{% endblock %}

