{% extends 'base.html' %}

{% block title %}Home - My Portfolio{% endblock %}

{% block content %}
<!-- Hero Section -->
<section class="bg-primary text-white text-center py-5">

    <div class="container">
        <h1 class="display-4">Hi, I'm Jerome Kapkor</h1>
        <p class="lead">
            A passionate full-stack developer and founder of G-Rome Technologies.
            I specialize in building responsive, user-friendly web applications using Flask, HTML, CSS, Bootstrap and JavaScript.
    <div
        <p class ="lead">  I’m currently open to full-stack roles. Let’s connect!</p>

    </div>
  
</section>
<section class="text-center py-5">
        <div class="text-center">
        <a href="/contact" class="btn btn-outline-light btn-lg mt-3 me-2">Hire Me</a>
        <a href="/projects" class="btn btn-primary btn-lg mt-3">View My Projects</a>

    </div>
    </section>
{% endblock %}

