{% extends 'base.html' %}
{% block content %}
<section class="py-5">
    <div class="container my-5">
  <div class="row">
    {% for project in projects %}
      <div class="col-md-6 col-lg-4 mb-4">
        <div class="card h-100 shadow-sm">
          <div class="card-body">
            <h5 class="card-title text-primary">{{ project.title }}</h5>
            <ul class="mb-3">
              {% for point in project.points %}
                <li>{{ point }}</li>
             {% endfor %}
            </ul>
            <div class="mb-2">
            {% for badge in project.badges %}
            <span class="badge bg-secondary me-1">{{ badge }}</span>
             {% endfor %}
            </div>
          </div>
          <div class="card-footer bg-transparent border-0">
            <a href="{{ project.link }}" class="btn btn-sm btn-outline-primary" target="_blank">View Project</a>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>

        
    
</section>
{% endblock %}

