{% extends 'base.html' %}
{% block content %}
<section class="py-5">
    <div class="container">
        <h2 class="text-center mb-4">My Projects</h2>
        <div class="row g-4">
            {% for project in projects %}
            <div class="col-md-4">
                <div class="card h-100 shadow">
                    <div class="card-body">
                        <h5 class="card-title">{{ project.title }}</h5>
                        <p class="card-text">{{ project.description }}</p>
                    </div>
                    <div class="card-footer text-center">
                        <a href="{{ project.link }}" class="btn btn-primary" target="_blank">View</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}

